<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576944209623-na44b70eki8lcd75cpm2t60roofpsjqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576944209623-na44b70eki8lcd75cpm2t60roofpsjqm</string>
	<key>API_KEY</key>
	<string>AIzaSyApEIlP3N5AT2BYhu_AzVTSv2mPG1HOGcs</string>
	<key>GCM_SENDER_ID</key>
	<string>576944209623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alfaomega.verba.volant</string>
	<key>PROJECT_ID</key>
	<string>verbavolant-b8d94</string>
	<key>STORAGE_BUCKET</key>
	<string>verbavolant-b8d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:576944209623:ios:b87cb161f373bc759f7a92</string>
</dict>
</plist>
